<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<h1>Students</h1>
{% if students is empty %}
    No students
{% else %}
    <ul>
        {% for student in students %}
            <li>

                {{ student.Name }}


            </li>
        {% endfor %}</ul>
{% endif %}

</body>
</html>